.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #303030;
    text-align: center;
}

.title {
    color: cyan;
    border: 1px solid magenta;
    padding: 10px 20px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    margin: 20px auto;
    border: 1px solid cyan;
    padding: 10px 20px;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid yellow;
    padding: 10px;
    margin: 5px 0;
}

.listItem > * {
    margin: 5px;
}

.listItem > h4 {
    color: orangered;
    flex: 1 1 10%;
}

.listItem > h3 {
    color: white;
    flex: 1 1 70%;
}

.doneButton {
    padding: 5px 10px;
    color: greenyellow;
    background-color: #303030;
    border-color: greenyellow;
    flex: 1 1 10%;
}

.form {
    padding: 10px;
    margin: 10px auto;
    width: 30vw;
    display: flex;
    flex-direction: row;
    border: solid 1px red;
}

.form > * {
    margin: 0 5px;
    padding: 10px 5px;
}

.form > input {
    flex: 1 1 90%;
    color: white;
    background-color: #303030;
    border: solid 1px white;
}

.form > button {
    flex: 1 1 10%;
    color: greenyellow;
    background-color: #303030;
    border: solid 1px greenyellow;
}